.cajayellow, .cajablue, .cajaviolet{
	width: 180px;
	height: 120px;
	float:left;
}
.cajayellow{
	background-color: yellow;
}
.cajablue{
	background-color: blue;
}
.cajaviolet{
	background-color: violet;
}
.cajacontenedor{
	border:1px solid black;
}